server {
    listen 80;
    server_name  localhost;
    location / {
         root   /usr/share/nginx/html;
         index  index.html index.html;
    }

    location /api {
        set $backend_server ${BACKEND_URL};
        proxy_pass http://$backend_server;
        resolver ${RESOLVER_IP};
    }
}